body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
h1{
  margin: 0;
  margin-bottom: 50px;
}
/* .input{
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
} */
select{
  margin-left: .5rem;
}
.equals{
  font-size: 2rem;
  font-weight: bold;
}
input{
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  width: 180px;
  outline: none;
  border-radius: 3px;
}


